@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply transition-colors ease-out duration-500;
}

.loading-icon {
	animation: myAnim 2s infinite;
}

@keyframes myAnim {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	50% {
		transform: scale(1.5);
		opacity: 1;
	}

	100% {
		transform: scale(1); /* Vuelve al tamaño original */
	}
}

.element {
	animation: myAnim 1s ease-in-out; /* Duración de la animación y función de temporización */
}
