@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply transition-colors ease-out duration-500;
}

.loading-icon {
	animation: myAnim 2s infinite;
}

@keyframes myAnim {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	50% {
		transform: scale(1.5);
		opacity: 1;
	}

	100% {
		transform: scale(1);
	}
}
